<p id="notice"><%= notice %></p>

  <h1>詳細</h1>
  
  <%= @feed.user.name%>
  <%= @feed.content%>
<p>
  <strong>Image:</strong>
  
  <%= image_tag @feed.image.url, class: 'picture'%>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
